:root {
    --primary: #191970;
    --secondary: #005A9C;
    --accent: #b3cee5;
    --accent2: #f0f8ff 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: var(--secondary);
    text-align: center;
}

/* HEADER STYLING AND NAV STYLING */

span {
    color: var(--accent);
    background-color: var(--primary);
}

header {
    padding: 10px;
    text-align: left;
    background-color: var(--primary);
}

header div {
    background-color: var(--primary);
    text-align: center;
}

header h1 {
    color: var(--accent2);
    font-size: 40px;
    font-weight: bold;
    background-color: var(--primary);
    padding: 20px;
}

header nav {
    margin: 20px;
    background-color: var(--primary);
}

h1 {
    display: inline-block;
    border: 5px solid var(--accent);
    border-radius: 20px;
    box-shadow: 2px 2px 5px white;
}


ul {
    list-style-type: none;
    background-color: var(--primary);
    display: flex;
    justify-content: end;
}

a {
    background-color: var(--primary);
    color: var(--accent2);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

header nav ul li a:hover {
    color: var(--secondary);
}

/* HERO IMAGE AND BLOCK QUOTE STYLING */

.hero {
    background-image: url(./images/heroimg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.quote{
    color: var(--accent2);
    font-size: 50px;
    text-shadow: 3px 3px 5px black;
}

/* H2 HEADINGS AND ABOUT ME STYLING */

.section-header{
    border-right: 5px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    max-width: 20%;
}

.about-me{
    display: flex;
}

